node_modules

// console.log("starting a new project");
const express= require('express');
const app = express();


app.use( "/user",
     [(req,res,next)=>{
    // res.send('hello from the  dahsboard server');
    next();
     },
    (req,res,next)=>{
    // res.send('hello from the  dahsboard server');
    next();
     }],
      (req,res,next)=>{
    res.send('hello from the  dahsboard server');
    
      }

);

app.listen(3000 ,()=>{
    console.log("server is sucessfully listeing on the port 3000")
});